@model silk.Models.People

@{
    ViewData["Title"] = "Browse";
    Layout = "~/Views/Shared/_Layout1.cshtml";
    var Title = "Browse items";
}

@* TO DOS:
    - 2nd navbar
    - left side column w/ filters and stuff, maybe col-md-2
    - the item grid
*@

@* 2nd Navbar *@

<nav class="navbar navbar-expand-lg navbar-dark bg-dark d-none d-sm-block">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item biggerPadding">
                <a class="nav-link">Hype</a>
            </li>
            <li class="nav-item biggerPadding">
                <a class="nav-link">Elegance</a>
            </li>
            <li class="nav-item biggerPadding">
                <a class="nav-link">Vintage</a>
            </li>
            <li class="nav-item biggerPadding">
                <a class="nav-link">Custom</a>
            </li>
            <li class="nav-item biggerPadding">
                <a class="nav-link">Casual</a>
            </li>
        </ul>
    </div>
</nav>


@* CONTENT *@

@* only on desktops *@

<div class="d-none d-lg-block">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <div style="height: 100vh">
                    <h3>Aici mai trebuie o lista cu toate articolele vestimentare sau chestii de genul care sunt pe site: tricouri, hanorace, papuci etc</h3>
                    <h3>Si pe mobil, lista asta va fi un carousel in partea de sus a paginii</h3>
                </div>
            </div>
            <div class="col-md-10">
                <div class="container-fluid">
                    <h1 class="text-left displayInline" style="padding-top: 25px;margin-bottom: 0;">@Title</h1>
                    <div id="buttonFinder" class="displayInline float-right marginTop15px">
                        <button type="button" class="btn custom2 btn-secondary btn-lg displayInline" data-toggle="modal" data-target="#filtersModal">Filters</button>
                    </div>
                    <partial name="FiltersModal" />
                    <div class="row" style="margin-top: 10px">
                        @foreach (var item in Model.people)
                        {
                            <partial name="ItemCard" model="item" />
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@* Mobile first *@

<div class="d-block d-lg-none">
    <div class="container-fluid">
        <h1 class="text-center" style="padding-top: 25px;margin-bottom: 0;">@Title</h1>
        <div class="row">
            @foreach (var item in Model.people)
            {
                <partial name="ItemCard" model="item" />
            }
        </div>
        <div id="buttonFinder" class="buttonFixed activeButton">
            <button type="button" class="btn custom2 btn-secondary btn-lg" data-toggle="modal" data-target="#exampleModal">Filters</button>
        </div>
        <partial name="FiltersModalMobile" />
    </div>
</div>