.btn-warning{
    border-radius: 50px !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

a.text-light.noHover:hover{
    text-decoration: none !important;
    color: #f8f9fa !important;
}

a.text-dark.noHover:hover {
    text-decoration: none !important;
    color: #343a40 !important;
}

.noMarginBottom {
    margin-bottom: 0 !important;
}

a{
    cursor: pointer !important;
}

.dropdown-toggle::after{
    display: none !important;
}

input #form1 {
    background-color: #343a40 !important;
    border: none !important;
    color: #f8f9fa !important;
}

.borderBottom {
    border-bottom: 1px solid #f8f9fa !important;
}

button.btn.btn-dark.butonCuMargini {
    margin-bottom: 15px !important;
    margin-top: 15px !important;
}

@media(min-width: 576px) {
    .btn-warning {
        margin-left: .7rem !important;
    }
}

@media(max-width: 575px){
    .btn {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
}
