<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Silkresell</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/cristi.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark box-shadow noMarginBottom">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><span style="color: #FACB0C">$</span>ilkresell</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex">
                    <ul class="navbar-nav ml-auto">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item d-block d-sm-none">
                                @* Sa se vada pe telefoane *@
                                @* Search - trebuie bara d aia de cautare*@
                                <a class="nav-link text-light noHover" asp-area="Identity" asp-page="/Account/Register" role="button">
                                    <img src="~/Icons/search.png" alt="Cart" style="width: 22px; height: 22px" />
                                </a>
                            </li>
                            @* Sa nu se vada pe telefoane - sa se vada pe desktop*@
                            @* Search - trebuie bara d aia de cautare*@
                            <li class="nav-item d-none d-sm-block form-inline">
                                <form class="form-inline black" name="formPC" id="form1">
                                    <a onclick="openSearch()" class="nav-link text-light noHover" role="button">
                                        <img src="~/Icons/search.png" alt="Cart" style="width: 22px; height: 22px" />
                                    </a>
                                    <section class="d-none" id="sectiune1">
                                        <input name="search" class="form-control mr-sm-2" style="background-color: #343a40" type="search" placeholder="Search" aria-label="Search">
                                    </section>
                                </form>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light noHover" asp-area="Identity" asp-page="/Account/Register" role="button">
                                    <img src="~/Icons/supermarket.png" alt="Cart" style="width: 22px; height: 22px" />
                                </a>
                            </li>
                        </ul>
                        <partial name="_LoginPartial1" />
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - SilkResell - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        function openSearch() {
            var element = document.getElementById("sectiune1");
            var form = document.getElementById("form1");
            element.style.transition = "all 2s";
            var clasa = element.className;
            if (clasa === "d-none") {
                element.classList.remove("d-none");
                element.classList.add("d-block");
                form.classList.add("borderBottom");
            }
            else {
                if (document.forms['formPC'].search.value === '') {
                    element.classList.remove("d-block");
                    element.classList.add("d-none");
                    form.classList.remove("borderBottom");
                }
            }
        }
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
