@{
    ViewData["Title"] = "Home Page";
}

@{
    Layout = null;
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Index.css" />
    <link href="~/css/cristi.css" rel="stylesheet" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark box-shadow mb-3" style="background-color: #302c2c">
            <div class="container">
                <div class="nav navbar-nav navbar-center">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><span style="color: #FACB0C">$</span>ilkresell</a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex">
                    <ul class="navbar-nav ml-auto">
                        <partial name="_LoginPartial" />
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container" id="top">
        <div class="middle-button">
            <a class="buyButton" asp-area="" asp-controller="Shop" asp-action="Index">Buy or sell - All styles</a>
        </div>
        <p class="underText"><mark>...or just yours:</mark></p>
    </div>

    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-sm" align="center" style="background-color: white;">
                <span style="font-size: 1.3em;">Hype, Designer and Luxury </span>
                <img src="~/Images/hype.png" />
            </div>

            <div class="col-sm" align="center" style="background-color: gray">
                <span style="font-size: 1.3em;">Elegance and Fashion </span>
                <img src="~/Images/elegance.png" />
            </div>

            <div class="col-sm" align="center" style="background-color: black">
                <span style="font-size: 1.3em; color: white;">Vintage</span>
                <img src="~/Images/vintage.png" />
            </div>

            <div class="col-sm" align="center" style="background-color: white">
                <span style="font-size: 1.3em;">Casual Streetwear and Sports </span>
                <img src="~/Images/casual.png" />
            </div>

            <div class="col-sm" align="center" style="background-color: lightpink">
                <span style="font-size: 1.3em;">Custom Designed</span>
                <img src="~/Images/custom.png" />
            </div>
        </div>
    </div>

    <h1>About us</h1>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm m-3" align="center" style="background-color: white; border-radius: 20px; border: 3px solid black; height: 500px;">
                What is <span style="color: #FACB0C">$</span>ilkresell?
            </div>

            <div class="col-sm m-3" align="center" style="background-color: white; border-radius: 20px; border: 3px solid black; height: 500px;">
                Why buy here?
            </div>

            <div class="col-sm m-3" align="center" style="background-color: white; border-radius: 20px; border: 3px solid black; height: 500px;">
                Why sell here?
            </div>

            <div class="col-sm m-3" align="center" style="background-color: white; border-radius: 20px; border: 3px solid black; height: 500px;">
                For short
            </div>
        </div>
    </div>

    <div class="returnTop">
        <button class="topButton" onclick="document.getElementById('top').scrollIntoView();">Back to top</button>
    </div>
    <footer class="footer text-muted" style="background-color: #302c2c">
        <div class="container">
            &copy; 2020 - SilkResell
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
