@page
@model silk.Pages.SearchModel
@{
    Layout = null;
    ViewData["Title"] = "Search - Silkresell";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
</head>
<body>

    @* Aici trebuie facut un search bar, cel mai probabil
       asemanator cu cel de pe pagina browse pentru desktop *@

    <h1 style="text-align:center">test</h1>

</body>
</html>
